* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: black;
    /* border: red 1px solid; */
}

body {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 20%;
    background: transparent;
    padding: 30px 10%;
    transition: ease 0.4s;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.099);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul a {
    color: black;
}

nav ul a:hover {
    color: #0A8080;
}

.img-log {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.line {
    display: flex;
    flex-direction: column;
}

.line a {
    color: #0a8080;
}

.login a:hover {
    color: #0a8080;
}

header .fa-solid {
    display: none;
    font-size: 25px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
    z-index: 2;
}

.home-title {
    color: #02073E;
    padding-bottom: 20px;
}

.home-title h1 {
    font-size: 70px;
}

.home-title p {
    font-size: 20px;
}

.home-img {
    padding: 50px;
    max-width: 700px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    background-color: #ffeddf51;
    z-index: 1;
    padding: 8% 50px 50px;
    margin-top: -200px;

}

.container .text {
    max-width: 50%;
}

.container p {
    font-size: 16px;
    line-height: 2rem;
    color: #0F2137;
}

.container h1 {
    font-size: 40px;
    line-height: 3rem;
    text-align: center;
    color: #0d0e0f;
}

.container img {
    height: 500px;
    width: 600px;
    border-radius: 15px;
}

.cont-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.cont-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 5%;

}

.FAQ .bloc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    background-color: #0a8080e9;
    padding: 10px 50px;
    border-radius: 15px;

}

.FAQ .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}


.bloc.active .answer {
    max-height: 900px;
}

.fa-chevron-down {
    font-size: 18px;
    transition: 0.5s ease-in;
}

.bloc.active .fa-chevron-down {
    transform: rotate(180deg);
    color: white;
}

.bloc.active h1 {
    color: white;
}

.bloc.active p {
    color: rgb(228, 228, 228);
}

.FAQ .question h1 {
    font-size: 20px;
    text-align: left;
}

.FAQ #on {
    display: none;
}

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0px;
}

.title h1 {
    font-size: 30px;
    text-align: center;
}

.title p {
    text-align: center;
    line-height: 2rem;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.team .team-img {
    max-width: 300px;
}

.team .team-img h1 {
    font-size: 15px;
    line-height: 2rem;
}

.team .team-img p {
    font-size: 10px;
    color: #7589A1;
}
.flesh {
    display: none;
}

.sub {
    background-color: #efe2da8b;
    display: flex;
    justify-content: space-between;
}

.sub-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto 50px;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 2%;
}

.sub-form .text {
    line-height: 2rem;
}

.sub-form .text p {
    font-size: 15px;
}

.sub-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.sub-form .input-s {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.sub-form input[type="email"] {
    background-color: #d4dae2b3;
    color: #393939;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

.sub-form input[type="submit"] {
    background-color: #db4a86;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"] {
    background-color: #d4dae2b3;
    outline: none;
    border: none;
}

span {
    font-size: 12px;
    color: #4b4b4ca0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 5%;
}

.footer h1 {
    font-size: 18px;
    color: #0F2137;

}

.footer p {
    font-size: 14px;
    line-height: 2rem;
    color: #0F2137;
}

.footer .copy {
    color: #0f213775;
}

.footer li {
    font-size: 15px;
    color: #02073ed5;
    line-height: 2rem;
}

.footer i {
    font-size: 20px;
}

i.fb {
    color: blue;
}

i.tw {
    color: rgb(62, 154, 240);
}

i.dr {
    color: rgb(244, 35, 87);
}

@media screen and (max-width: 650px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        padding: 20% 0;
        transform: translateY(-100%);
        z-index: 1;
        background-color: rgba(253, 195, 108, 0.955);
        transition: 0.3s;
    }

    nav.mobile-menu {
        transform: translateY(0);
    }

    nav ul,
    .login {
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    header {
        justify-content: space-between;
    }

    header .fa-solid {
        display: block;
        z-index: 999;
    }

    header .img-log {
        z-index: 999;
    }

    .home {
        padding: 20px 10px;
    }

    .home-title h1 {
        font-size: 50px;
    }

    .home-title p {
        font-size: 18px;
    }

    .cont-1,
    .cont-2 {
        display: none;
    }

    .FAQ {
        padding-top: 20%;
    }

    .FAQ #on {
        display: flex;
    }

    .FAQ .bloc {
        max-width: 100%;
    }

    .FAQ .bloc h1 {
        font-size: 15px;
    }

    .FAQ .bloc p {
        font-size: 13px;
    }

    .FAQ .bloc .fa-chevron-down {
        font-size: 15px;
    }

    .equipe {
        padding: 20px 0;
        position: relative;
    }
    .flesh {
        display: block;
    }

    .flesh .fa-circle-chevron-left {
        position: absolute;
        top: 50%;
        left: 0;
    }

    .flesh .fa-circle-chevron-right {
        position: absolute;
        top: 50%;
        right: 0;
    }

    .flesh i {
        color: #138d8d9d;
        font-size: 40px;
    }

    .team {
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;
        gap: 50px;
        padding: 20px;
        overflow: hidden;
    }
   

    .team .team-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-width: 100%;
    }
    .team .team-img img {
        max-width: 80%;
    }
    .team .team-img h1 {
        font-size: 20px;
    }
    .team .team-img p {
        font-size: 15px;
    }
    .team .team-img i {
        font-size: 20px;
    }
    


    .cactus,
    .book {
        display: none;
    }

    .sub {
        padding: 20px 0;
    }

    .sub-form {
        padding: 30px;
        flex-grow: 1;
        margin: 10px;
        gap: 10px;
    }
}