* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 20%;
    background: transparent;
    padding: 30px 10%;
    transition: ease .40s;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.099);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul a {
    color: black;
}

nav ul a:hover {
    color: #0A8080;
}

.img-log {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login {
    display: flex;
    gap: 20px;
}


.line {
    display: flex;
    flex-direction: column;
}

.line a {
    color: #0A8080;
}

.login a:hover {
    color: #0A8080;
}

header .fa-solid {
    display: none;
    font-size: 25px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.home-text {
    color: #02073E;
    flex-basis: 40%;
}

.home-text h1 {
    font-size: 40px;
    line-height: 3rem;
}

.home-text p {
    font-size: 21px;
    line-height: 3rem;
}

.home img {
    width: 500px;
    height: 500px;
}


.service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.service-a {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-a h1 {
    font-size: 18px;
}

.service-a a {
    color: blue;
}

.service-text {
    line-height: 2rem;
}

.advertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.title-1,
.title-2 {
    font-size: 20px;
}

.sub {
    background-color: #efe2da8b;
    display: flex;
    justify-content: space-between;
}

.sub-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto 50px;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 2%;
}

.sub-form .text {
    line-height: 2rem;
}

.sub-form .text p {
    font-size: 15px;
}

.sub-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.sub-form .input-s {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="email"] {
    background-color: #EFF3F7;
    color: #363637b6;
    outline: none;
    border: none;
    border-radius: 2%;
    padding: 10px 50px;
}

input[type="submit"] {
    background-color: #f9056b;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
}

input[type="checkbox"] {
    background-color: #d4dae2b3;
    outline: none;
    border: none;
}

span {
    font-size: 12px;
    color: #3e3e3e;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    max-width: 80%;
    margin: 50px auto;
}


.footer h1 {
    font-size: 18px;
    color: #0F2137;

}

.footer p {
    font-size: 14px;
    line-height: 2rem;
    color: #0F2137;
}

.footer .copy {
    color: #424242;
}

.footer li {
    font-size: 15px;
    color: #02073ed5;
    line-height: 2rem;
}

.footer i {
    font-size: 20px;
}

.footer i.fb {
    color: blue;
}

.footer i.tw {
    color: rgb(62, 154, 240);
}

.footer i.dr {
    color: rgb(244, 35, 87);
}


@media screen and (max-width:650px) {
    nav {
        display: none;
        /* justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-top: 80%;
        z-index: 1;
        margin-left: 50%;
        background-color: #d2661eb9;*/
    }

    /* nav ul,
    .login {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
    }
*/
    header .fa-solid {
        display: block;
    }

    .cactus,
    .book {
        display: none;
    }

    .sub-form {
        padding: 30px;
        flex-grow: 1;
        margin: 10px;
        gap: 10px;
    }

    .home {
        padding-top: 20%;
        gap: 0;
    }
    .advertise {
        z-index: 2;
        margin-top: -100;
    }

    .home-text {
        flex-basis: 100%;
    }

    .home-text h1 {
        font-size: 30px;
        text-align: center;
    }

    .home-text p {
        display: none;
    }



    .advertise .title-1,
    .title-2 {
        font-size: 16px;
        text-align: center;
    }
}