* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 5%;
    transition: ease .40s;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.099);
}

nav {
    display: flex;
    padding-left: 150px;
    align-items: center;
}

nav ul {
    display: flex;
    margin-left: 100px;
}

nav ul a {
    margin-right: 50px;
    color: black;
}

nav ul a:hover {
    color: #0A8080;
}

.img-log {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.img-log a {
    margin-top: 8px;
}


.login {
    margin-left: 350px;
    width: fit-content;
    margin-top: 20px;
}

.login a {
    margin-right: 15px;
}

.login a:hover{
    color: #0A8080;
}
.login .get {
    color: #0A8080;
    z-index: 2;
}

.login .line {
    width: fit-content;
    margin: -10px 9px 0 auto ;
    z-index: 1;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
}

.home-text {
    text-align: center;

}

.home-text h1 {
    font-size: 50px;
}

.home-text p {
    font-size: 1rem;
    margin-top: 20px;
}

.home-btn {
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    background: #0A8080;
    border-radius: 4px;
    margin-top: 20px;
}

.home-img {
    width: fit-content;
    margin-left: auto;
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffeddf6e;
    justify-content: center;
    justify-content: space-around;
    margin-top: 150px;
    height: 670px;
}

.container .text {
    display: flex;
    margin-top: 200px;
}

.container .text p {
    font-size: 24px;
    line-height: 4rem;
    padding-top: 2px;
    width: fit-content;
}

.container .text span {
    font-size: 16px;
    color: #5d5e5e;
}

.container i {
    font-size: 60px;
    margin-left: 400px;
    color: #7e88964f;
}

.container .images {
    margin: 110px;
    justify-content: center;
    padding: 20px;
    border-top: solid rgba(90, 88, 88, 0.327);
    border-bottom: solid rgba(90, 88, 88, 0.327);

}

.container .images img {
    margin-left: 100px;
}

.title {
    margin-top: 80px;
}

.title h1 {
    font-size: 30px;
    text-align: center;
}

.title p {
    text-align: center;
    line-height: 2rem;
}

.team {
    display: flex;
    max-width: 900px;
    margin: 50px auto 0;
    gap: 30px;
}

.team .team-img h1 {
    font-size: 15px;
    line-height: 2rem;
}

.team .team-img p {
    font-size: 10px;
    color: #494a4a;
}

.team .team-img {
    width: 33.33%;
}

.blog {
    display: flex;
    margin: 50px auto 50px;
    max-width: 1190px;
    gap: 30px;
}

.blog h1 {
    color: #0F2137;
    font-size: 20px;
}

.blog p {
    color: #0F2137;
    font-size: 16px;
    line-height: 2rem;
}

.blog img {
    margin-bottom: 20px;
}

.blog-2 {
    background-color: #FBF5F1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.blog-4 {
    position: relative;
}

.blog-5 h1 {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}


.blog-6 h1 {
    position: absolute;
    top: 79%;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.sub {
    background-color: #efe2da8b;
    display: flex;
    justify-content: space-between;
}

.sub-form {
    display: flex;
    justify-content: space-around;
    margin: 50px auto 50px;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 2%;
}

.sub-form .text {
    line-height: 2rem;
}


input[type="email"] {
    background-color: #EFF3F7;
    color: #08080889;
    outline: none;
    border: none;
    border-radius: 2%;
    padding: 10px 50px;
}

input[type="submit"] {
    background-color: #DB4A87;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
}

input[type="checkbox"] {
    background-color: #424343;
    outline: none;
    border: none;
}

span {
    font-size: 12px;
    color: #0f0f1061;
}

.footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    max-width: 80%;
    margin: 50px auto;
}

.footer h1 {
    font-size: 18px;
    color: #0F2137;

}

.footer p {
    font-size: 14px;
    line-height: 2rem;
    color: #0F2137;
}

.footer .copy {
    color: #0f213775;
}

.footer li {
    font-size: 15px;
    color: #02073ed5;
    line-height: 2rem;
}

.footer i {
    font-size: 20px;
}

i.fb {
    color: blue;
}
i.tw {
    color: rgb(62, 154, 240);
}

i.dr {
    color: rgb(244, 35, 87);
}